---
layout: default
---
<style>
.show-table-btn {
  border: none;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: transparent;
  font-weight:inherit;
  padding: .4em 1em;
  margin-bottom: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.show-table-btn.active {
  background-color: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.color-lump{
    width: 10px;
    height: 10px;
    background-color: #33cd5f;
}

.actionBtn {
  display: block;
  margin: 10px auto;
  max-width: 350px;
  width: 94%;
  vertical-align: middle;
  background-color: #6e54da;
  color: #fff !important;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
  border: 2px solid #a1201c;
  border-radius: 20px;
  transition: all 0.5s;
  white-space: normal;
}
.inverseBtn {
  background-color: #fff;
  color: #a1201c !important;
}
</style>

<style>
    .aff {
      font-style: italic; 
      font-size: 0.8rem;
    }
</style>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            <span class="subheading"> </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="container" id="main">
    <div class="row">
      <div class="col-lg-4">
        <div class="list-group">
          <div class="list-group-item"><h4>About Few-NERD</h4>
            

          <p>Few-NERD is a large-scale, fine-grained manually annotated named entity recognition dataset, which contains 8 coarse-grained types, 66 fine-grained types, 188,200 sentences, 491,711 entities and  4,601,223 tokens.
            Three benchmark tasks are built, one is supervised (Few-NERD (SUP)) and the other two are few-shot (Few-NERD (INTRA) and Few-NERD (INTER)).

            Few-NERD is collected by researchers from <a href = "https://www.tsinghua.edu.cn/en/" style="color: darkred;"> Tsinghua University </a> and <a href = "https://damo.alibaba.com/?lang=en" style="color: darkred;"> DAMO Academy, Alibaba Group</a> .

            <p>For more details about Few-NERD, please refer to our ACL-IJCNLP 2021 paper:</p>
          <p class="text-center">
            <a href="https://arxiv.org/pdf/1809.09600.pdf"><button type="button" class="btn btn-info">(Ding, Xu, Chen et al. 2021)</button></a>
          </p>
          </div> 

          <div class="list-group-item"><h4>About the Leaderboard</h4>
            <p>To facilitate diversified research about named entities, we release <b>all the data (including the test set)</b> of the three tasks. We encourage the community to do research beyond these settings (such as open/ unsupervised/ continual NER or entity typing/ linking, etc). Enjoy!</p>

            <p> But we still maintain a leaderboard to record the peer-reviewd results. </p>
            </div> 

            <div class="list-group-item"><h4>Getting started</h4>
              <p> Download Few-NERD by following links:
              <p class="text-center">
              <a class="btn actionBtn inverseBtn" href="/SQuAD-explorer/dataset/train-v2.0.json" download="">Few-NERD (SUP) (40 MB)</a>
              <a class="btn actionBtn inverseBtn" href="/SQuAD-explorer/dataset/train-v2.0.json" download="">Few-NERD (INTRA) (40 MB)</a>
              <a class="btn actionBtn inverseBtn" href="/SQuAD-explorer/dataset/train-v2.0.json" download="">Few-NERD (INTER) (40 MB)</a>
              
              <p> As the sampling strategy has huge impact in few-shot learning, thus we also release a data <b> sampled by us </b>, the results of the paper and the leaderboard are produced by this data.
              <!-- <a href="https://arxiv.org/pdf/1809.09600.pdf"><button type="button" class="btn btn-info" style="background-color: rgb(129, 73, 182); font-weight: 600; width: 9rem; height: 4.5rem;"> Few-NERD (SUP) </button></a> 
              <a href="https://arxiv.org/pdf/1809.09600.pdf"><button type="button" class="btn btn-info" style="background-color: rgb(35, 117, 194); font-weight: 600; width: 9rem;""> Few-NERD (SUP) </button></a> 
            </p> -->
            </p>
              <!-- <p class="text-center">
              <a href="https://arxiv.org/pdf/1809.09600.pdf"><button type="button" class="btn btn-info"> Few-NERD (INTRA) </button></a>
            </p>
              <p class="text-center">
              <a href="https://arxiv.org/pdf/1809.09600.pdf"><button type="button" class="btn btn-info"> Few-NERD (INTER) </button></a>
            </p> -->
            </div> 
            <div class="list-group-item"><h4>Connection</h4>
              <a style="font-size: 1rem;"> If you have any questions about Few-NERD, or you want to update the leaderboard, feel free to email to the authors: </a> <br>
              <ul>
                <li style="color: rgb(125, 147, 168);"> <a href="mailto:dingn18@mails.tsinghua.edu.cn" style="font-size: 0.95rem; color:darkred;"> dingn18@mails.tsinghua.edu.cn; </a></li>
                <li style="color: rgb(125, 147, 168);"><a href="mailto:yl-chen17@mails.tsinghua.edu.cn" style="font-size: 0.95rem; color: darkred;"> yl-chen17@mails.tsinghua.edu.cn;  </a>  </li>
              </ul>
              <a style="font-size: 1rem;"> If you use Few-NERD in your work, please cite the paper:</a>  <br> <br>
              <pre style="font-size: 0.6rem; background-color: rgb(245, 238, 238);">@inproceedings{ding2021few,
  title={Few-NERD:A Few-shot Named Entity Recognition Dataset},
  author={Ding, Ning and Xu, Guangwei and Chen, Yulin, and Wang, Xiaobin and Han, Xu and Xie, Pengjun and Zheng, Hai-Tao and Liu, Zhiyuan},
  booktitle={ACL-IJCNLP},
  year={2021}
}</pre>
            </div> 
  
             
    </div>
  </div>



  <div class="col-lg-8">
      <div class="card card-outline-secondary">
        <div class="card-header" style="padding-bottom: 0;">
            <!--Few-NERD (SUP) Leaderboard -->  
            <button id="show-table1" class="show-table-btn">Few-NERD (SUP)</button>
            <button id="show-table2" class="show-table-btn">Few-NERD (INTRA)</button>
            <button id="show-table3" class="show-table-btn">Few-NERD (INTER)</button>
        </div>
        <div class="card-body">
          <table class="table table-responsive" id="table-1">
            <caption style="caption-side: top; font-size: 1rem; margin-top: -0.8rem;">
              The <em>supervised</em> setting is a standard NER task.
            </caption>
            <thead class="thead-light">
              <tr>
                <th scope="col" rowspan="2"></th>
                <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">Model</th>
                <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">&nbsp; Code&nbsp; </th>
                <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">&nbsp;&nbsp;&nbsp;   Precision &nbsp;&nbsp;&nbsp;   </th>
                <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">&nbsp;&nbsp;&nbsp;   Recall &nbsp;&nbsp;&nbsp;   </th>
                <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">&nbsp;&nbsp;&nbsp;   F1-Measure &nbsp;&nbsp;&nbsp;   </th>
              </tr>
         
            </thead>
            <tbody><tr>
                <td scope="row" class="align-middle text-center">1<br>
                  <span class="badge badge-secondary">Feb 27, 2021</span></td>
                <td class="align-middle text-center">BERT-Tagger<br>
                  <span class="aff">Few-NERD paper</span><br></td>
                <td class="align-middle text-center"><div class="crossed"><i class="far fa-file text-danger"></i></div></td>
                <td class="align-middle text-center"><strong>67.39</strong></td>
                <td class="align-middle text-center"><strong>70.45</strong></td>
                <td class="align-middle text-center"><strong>68.88</strong></td>
   
              </tr></tbody>
          </table>

          <table class="table table-responsive" id="table-2">
              <caption style="caption-side: top; font-size: 1rem; margin-top: -0.8rem;">
                  The <em>few-shot (intra)</em> setting is a few-shot NER task across different coarse-grained types.
                </caption>
              <thead class="thead-light">
                <tr>
                  <th scope="col" rowspan="2"></th>
                  <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">Model</th>
                  <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">Code</th>
                  <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">5 way 1~2 shot</th>
                  <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">5 way 5~10 shot</th>
                  <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">10 way 1~2 shot</th>
                  <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">10 way 5~10 shot</th>
                </tr>

              </thead>
              <tbody><tr>
                  <td scope="row" class="align-middle text-center">1<br>
                    <span class="badge badge-secondary">Feb 27, 2021</span></td>
                  <td class="align-middle text-center">ProtoBERT<br>
                    <span class="aff">Few-NERD paper</span><br></td>
                  <td class="align-middle text-center"><div class="crossed"><i class="far fa-file text-danger"></i></div></td>
                  <td class="align-middle text-center"><strong>16.73</strong></td>
                  <td class="align-middle text-center"><strong>28.21</strong></td>
                  <td class="align-middle text-center"><strong>12.48</strong></td>
                  <td class="align-middle text-center"><strong>21.52</strong></td>
                </tr></tbody>
            </table>


            <table class="table table-responsive" id="table-3">
                <caption style="caption-side: top; font-size: 1rem; margin-top: -0.8rem;">
                    The <em>few-shot (inter)</em> setting is a few-shot NER task within coarse-grained types.
                  </caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col" rowspan="2"></th>
                        <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">Model</th>
                        <th scope="col" rowspan="2" class="align-middle text-center" style="font-size: 0.95rem">Code</th>
                        <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">5 way 1~2 shot</th>
                        <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">5 way 5~10 shot</th>
                        <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">10 way 1~2 shot</th>
                        <th scope="col" colspan="1" class="text-center" style="font-size: 0.95rem">10 way 5~10 shot</th>
                      </tr>
                </thead>
                <tbody><tr>
                    <td scope="row" class="align-middle text-center">1<br>
                      <span class="badge badge-secondary">Feb 27, 2021</span></td>
                    <td class="align-middle text-center">ProtoBERT<br>
                      <span class="aff">Few-NERD paper</span><br></td>
                    <td class="align-middle text-center"><div class="crossed"><i class="far fa-file text-danger"></i></div></td>
                    <td class="align-middle text-center"><strong>31.84</strong></td>
                    <td class="align-middle text-center"><strong>41.86</strong></td>
                    <td class="align-middle text-center"><strong>25.51</strong></td>
                    <td class="align-middle text-center"><strong>36.04</strong></td>
                  </tr></tbody>
              </table>
        </div>
      </div>

      <script>
        var show_table = function(idx) {
          var all_tables = document.querySelectorAll(".table");
          for (var i = 0; i < all_tables.length; ++ i) {
            all_tables[i].style.display = "none";
            document.querySelector("#show-table" + (i + 1).toString()).classList.remove("active");
          }
          all_tables[idx].style.display = "block";
          document.querySelector("#show-table" + (idx + 1).toString()).classList.add("active");
        }
        document.querySelector("#show-table1").addEventListener("click", ()=>{ show_table(0) } );
        document.querySelector("#show-table2").addEventListener("click", ()=>{ show_table(1) } );
        document.querySelector("#show-table3").addEventListener("click", ()=>{ show_table(2) } );
        show_table(0);
      </script>
 
  

        <!-- Home Post List
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  </div>
